/*

# 忽略文件 #
###########
!./node_modules/
!./dist

# 忽略扩展文件 #
##############
!**/*/.DS_Store
!**/*/.xml
!**/*/*._.DS_Store
!**/*/._*

# 忽略压缩文件 #
##############
!**/*/*.7z
!**/*/*.dmg
!**/*/*.gz
!**/*/*.iso
!**/*/*.jar
!**/*/*.rar
!**/*/*.tar
!**/*/*.zip
